.box{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 192, 192);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    
}

.box:hover {
    opacity: 0.8;
}
.visibility{
    pointer-events: none;
    opacity: 0.5;

}